# Cache files
data/test_weather_cache.json
data/weather_cache.json
GIT commits.txt
# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.venv/

# Ignore environment variables file
.env

# Ignore logs
*.log

# Ignore VS Code settings
.vscode/

# Ignore Feedback folder
Feedback/

# Ignore macOS system files
.DS_Store

email.txt
WX URL.docx
~*.doc*
