# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.venv/

# Ignore environment variables file
.env

# Ignore logs
*.log

# Ignore VS Code settings
.vscode/

# Ignore Feedback folder
Feedback/